.customButton {
  cursor: pointer;
  padding: 10px 70px;
  font-size: 2rem;
  background: transparent;
  color: var(--yellow-theme-main-color);
  border: 1.5px solid var(--yellow-theme-main-color);
  border-radius: 4px;
  font-weight: 500;

  &:hover {
    background: var(--yellow-theme-main-color);
    color: #000000;
  }
}
