@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar {
    transition: all 0.3s ease;
  }

  .scrollbar::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #cfcfcf;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #292929;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #1b1b1b;
  }

  /* Scrollbar styles for dark mode */
  .dark .scrollbar::-webkit-scrollbar-track {
    background: #292929;
  }

  .dark .scrollbar::-webkit-scrollbar-thumb {
    background: #cfcfcf;
  }

  .dark .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #e5e5e5;
  }
}
