.headerWithUnderline {
  display: inline-block;
  color: var(--yellow-theme-sub-text-color);
  font-size: 22px;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.5px;
  position: relative;
  text-transform: uppercase;
  padding: 5px 10px;
  border-bottom: 2px solid var(--yellow-theme-main-color);

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 5px;
    background-color: var(--yellow-theme-main-color);
    bottom: -1px;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}
